<div class="checkout-layout">

  <!-- Left side -->
  <div class="left-column">

    <section class="card">
      <h2 class="text-center text-gold">Checkout</h2>

      <form class="form-grid" [formGroup]="checkoutForm">

        <!-- Address -->
        <div class="field full">
          <label>Delivery Address</label>
          <input class="input-main" formControlName="deliveryAddress" placeholder="Enter address" />

          @if (f['deliveryAddress'].invalid && f['deliveryAddress'].touched) {
          <small class="error text-danger">Address is required (min 5 chars)</small>
          }
        </div>

        <!-- City -->
        <div class="field full">
          <label>Delivery City</label>
          <input class="input-main" formControlName="deliveryCity" placeholder="Enter city" />

          @if (f['deliveryCity'].invalid && f['deliveryCity'].touched) {
          <small class="error text-danger">City is required</small>
          }
        </div>

        <!-- Country -->
        <div class="field full">
          <label>Delivery Country</label>
          <input class="input-main" formControlName="deliveryCountry" placeholder="Enter country" />

          @if (f['deliveryCountry'].invalid && f['deliveryCountry'].touched) {
          <small class="error text-danger">Country is required</small>
          }
        </div>

        <!-- Phone -->
        <div class="field full">
          <label>Contact Phone</label>
          <input class="input-main" formControlName="contactPhone" placeholder="01xxxxxxxxx" />

          @if (f['contactPhone'].invalid && f['contactPhone'].touched) {
          <small class="error text-danger">Valid Egyptian phone required</small>
          }
        </div>

        <!-- BUTTON LOGIC 🔥 -->
        <button class="btn-main btn-burgandy text-center " (click)="submit()"
          [disabled]="checkoutForm.invalid || isLoading">

          @if (!isLoading) {
          Place Order
          } @else {
          Processing...
          }

        </button>

      </form>
    </section>

  </div>

  <!-- Right side: Order Summary -->
  <aside class="card summary-card">
    <h2>Order Summary</h2>
    @if(cartItems.length > 0){
      <table class="summary-table">
      <thead>
        <tr>
          <th>image</th>
          <th>Item Name</th>
          <th>Qty</th>
          <th>Subtotal</th>
        </tr>
      </thead>
      <tbody>
        @for(item of cartItems ; track item.id){
          <tr>
            <img [src]="item.pictureUrl" [alt]="item.materialName">
          <td>{{item.materialName}}</td>
          <td>{{item.quantity}} {{item.unit}}</td>
          <td>{{item.unitPrice}} EGP / {{item.unit}} </td>
          <td>{{item.lineTotal}}</td>
        </tr>
        }
        
      </tbody>
    </table>
    }
    
    
    
    <div class="grand-total"> 
      <span>Total :  {{cartData.subtotal}}</span> 
      <span>Number Of Items :   {{cartData.totalItemCount}}  </span> 
      </div>
       
       <button class="btn-main btn-gold" routerLink="/businessowner/rawmaterialcart">Return to cart</button>
  </aside>

</div>
