<section class="hero">

    <div class="hero-text">
        <h1 class="text-main">Empowering Local Egyptian Brands, Enriching Your Life</h1>
        <h4>Connecting Quality Products with Discerning Customers, Fostering National Growth</h4>
    </div>

    <div class="image-stack">
        <div id="img1" class="img-box">
          <img src="../../../../../assets/images/access.jpg" alt="">
        </div>
        <div id="img3" class="img-box" >
          <img src="../../../../../assets/images/olive.jpg">
        </div>
        <div id="img4" class="img-box" >
          <img src="../../../../../assets/images/man.jpg">
        </div>
        <div id="img5" class="img-box" >
          <img src="../../../../../assets/images/blue.jpg">
        </div>
        <div id="img6" class="img-box">
          <img src="../../../../../assets/images/candle2.jpg">
        </div>
    </div>

</section>
<!-- customer or business -->
<!-- <section class="dual-section">
  <div class="content-container">

    <h2 class="section-title">
      Two Worlds — One Powerful Platform
    </h2>

    <p class="section-subtitle">
      Whether you're here to build a brand or discover one — we’ve created an experience that empowers everyone.
    </p>

    <div class="cards-wrapper"> -->

      <!-- Customer Card -->
      <!-- <div class="card customer-card">
        <div class="icon">🛍️</div>
        <h3>For Customers</h3>
        <p>
          Explore high-quality local brands trusted and verified by us.  
          Enjoy fast delivery, unique products, and a premium shopping experience.
        </p>
        <a href="#" class="action-btn">Start Shopping</a>
      </div> -->

      <!-- Business Owner Card -->
      <!-- <div class="card owner-card">
        <div class="icon">🚀</div>
        <h3>For Business Owners</h3>
        <p>
          Build your dream brand with AI tools, raw materials, factories,  
          analytics, marketing, and your own customizable website.
        </p>
        <a href="#" class="action-btn gold">Start Your Business</a>
      </div>

    </div>

  </div>
</section> -->
<!--2  -->
<!-- <div class="flip-container" id="flipCard">
  <div class="flip-card"> -->
    
    <!-- FRONT — Business Owner -->
    <!-- <div class="flip-card-front">
      <img src="business.jpg" alt="Business Owner">
      <h2>We Are Here To Encourage You</h2>
      <p>Start building your dream brand with powerful tools</p>
      <button class="primary-btn">Start Selling</button>
    </div> -->

    <!-- BACK — Customer -->
    <!-- <div class="flip-card-back">
      <div class="img-div"><img src="../../../../../assets/images/shopping6.jpg" alt="Customer"></div>

      <h2>Serving Customers With Quality</h2>
      <p>Explore trusted local brands with fast delivery</p>
      <button class="primary-btn">Start Shopping</button>
    </div>

  </div>
</div> -->


   