<div >
  <!-- Poster / hero -->
  <section class="poster">
    <div class="poster-text">
      <h1>Account Settings</h1>
      <h6>Update your profile, keep info secure, and manage preferences.</h6>
    </div>
    <div class="poster-img">
      <img src="../../../../../assets/images/setting.jfif" alt="Dashboard illustration" />
    </div>
  </section>

  <!-- Profile card -->
  <section class="card profile-card">
    <h2 class="text-center text-gold">Profile Information</h2>
    <p class="subtitle text-center">Manage your personal info and keep it up to date.</p>

    <div class="avatar-row">
      <img
  class="avatar"
  [src]="profilePreview || 'https://i.pinimg.com/736x/0f/68/94/0f6894e539589a50809e45833c8bb6c4.jpg'"
  alt="Profile avatar"
/>
      <input type="file" (change)="onProfilePhotoChange($event)" hidden #fileInput>

  <button type="button" class="btn-main btn-gold" (click)="fileInput.click()">
    Upload new photo
  </button>
    </div>

    <form class="form-grid" [formGroup]="profileForm" (ngSubmit)="submit()">
      <label class="field">
  <span>First Name</span>
  <input class="input-main" type="text" formControlName="firstName" />
</label>

<label class="field">
  <span>Last Name</span>
  <input class="input-main" type="text" formControlName="lastName" />
</label>

<label class="field">
  <span>Email</span>
  <input class="input-main" type="email" formControlName="email" />
</label>

<label class="field">
  <span>Phone Number</span>
  <input class="input-main" type="tel" formControlName="phoneNumber" />
</label>
      <div class="actions-row">
        <button type="submit" class="btn-main btn-terquaz w-25">
  Save Changes
</button>
      </div>
        
      
      
    </form>
  </section>
</div>