<div class="page">
  <header class="page-header pb-1">
    <h2 class="text-center text-gold">Business Details</h2>
    <p class="text-center">Manage your business information.</p>
  </header>
 
  <!-- Business Details -->
  <section class="card">
    <form class="form-grid" [formGroup]="businessForm" (ngSubmit)="submit()">
      <div class="d-flex justify-content-center m-auto">
        <section >
    <h5 class="text-burgandy">Add your Brand Logo</h5>
    <p class="hint">Upload a header image that best represents your business.</p>

    <div class="cover-box ">
      <img
          class="avatar"
          [src]="logoPreview || 'https://via.placeholder.com/150'"
          alt="Business Logo"
        />
      <input type="file" (change)="onLogoChange($event)" hidden #logoInput>

        <button type="button" class="btn-main btn-gold" (click)="logoInput.click()">
          Upload Logo
        </button>
    </div>
  </section>
      </div>
       
      <label class="field full">
        <span>Business Name</span>
        <input class="input-main" type="text" formControlName="businessName" />
      </label>

      <label class="field full">
        <span>Business Address</span>
        <input class="input-main" type="text" formControlName="address" />
      </label>

      <label class="field full">
        <span>Business Website</span>
        <input class="input-main" type="url" formControlName="website" />
      </label>

      <label class="field full">
        <span>Facebook</span>
        <input class="input-main" type="text" formControlName="facebook" />
      </label>

      <label class="field full">
        <span>Instagram</span>
        <input class="input-main" type="text" formControlName="instagram" />
      </label>

      <label class="field full">
        <span>Business Description</span>
        <textarea class="textarea-main" rows="5" formControlName="description"></textarea>
      </label>
      <div class="actions-row">
        <button type="submit" class="btn-main btn-burgandy w-50">
  Save Changes
</button>
      </div>
      
    </form>
  </section>
</div>